.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/va.jpg);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/v.jpg);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(img/a.jpg);
}
